/lib/
node_modules/
/node_modules/
dist/
/dist/
json/
/json/
target/
/target/
migrations/
/migrations/
seeders/
/seeders/
/tmp/
/temp/
/data/
tmp/*
*.zip
*.db
*.lock
.serverless/*
/.serverless/
*.env
*.pem
frontend1/
